In [3]:
!pip install folium

Collecting folium
  Downloading folium-0.14.0-py2.py3-none-any.whl (102 kB)
     ---------------------------------------- 0.0/102.3 kB ? eta -:--:--
     ----------- --------------------------- 30.7/102.3 kB 1.4 MB/s eta 0:00:01
     ----------------------------------- --- 92.2/102.3 kB 1.3 MB/s eta 0:00:01
     ----------------------------------- --- 92.2/102.3 kB 1.3 MB/s eta 0:00:01
     ------------------------------------ 102.3/102.3 kB 657.4 kB/s eta 0:00:00
Collecting branca>=0.6.0 (from folium)
  Downloading branca-0.6.0-py3-none-any.whl (24 kB)
Requirement already satisfied: jinja2>=2.9 in c:\users\rodri\anaconda3\lib\site-packages (from folium) (3.1.2)
Requirement already satisfied: numpy in c:\users\rodri\anaconda3\lib\site-packages (from folium) (1.24.3)
Requirement already satisfied: requests in c:\users\rodri\anaconda3\lib\site-packages (from folium) (2.31.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\rodri\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (2.1.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\rodri\anaconda3\lib\site-packages (from requests->folium) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rodri\anaconda3\lib\site-packages (from requests->folium) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\rodri\anaconda3\lib\site-packages (from requests->folium) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rodri\anaconda3\lib\site-packages (from requests->folium) (2023.7.22)
Installing collected packages: branca, folium
Successfully installed branca-0.6.0 folium-0.14.0

In [5]:
!pip install geopy

Collecting geopy
  Obtaining dependency information for geopy from https://files.pythonhosted.org/packages/e1/58/9289c6a03116025cdb61461d99b2493daa4967a80b13755463d71a0affeb/geopy-2.4.0-py3-none-any.whl.metadata
  Downloading geopy-2.4.0-py3-none-any.whl.metadata (6.8 kB)
Collecting geographiclib<3,>=1.52 (from geopy)
  Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
     ---------------------------------------- 0.0/40.3 kB ? eta -:--:--
     -------------------------------------- 40.3/40.3 kB 970.5 kB/s eta 0:00:00
Downloading geopy-2.4.0-py3-none-any.whl (125 kB)
   ---------------------------------------- 0.0/125.4 kB ? eta -:--:--
   ---------------------------------------  122.9/125.4 kB 3.5 MB/s eta 0:00:01
   ---------------------------------------- 125.4/125.4 kB 1.5 MB/s eta 0:00:00
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.0

In [4]:
import pandas as pd
df = pd.read_excel('Business Account.xlsx') 
df

,Business Account,Customer Status,Type,Partner type,Class,Class Name,Activity sector,Parent Business Account,Owner Name,Follow-up with,Postal Code,City,State,Country ID,Country Name,Created On,Last Modified On
0,C00001,Active,Customer,Partner,02FONDA,Foundation,"HEALTH - SOCIAL - Social, Associations, Founda...",NaN,2.0,NaN,69009,LYON,NaN,FR,France,2021-02-02 15:35:10.183,2023-01-04 15:51:00.977
1,C00002,Active,Customer,NaN,NaN,NaN,NaN,NaN,13.0,NaN,69005,Lyon,NaN,FR,France,2021-02-02 15:35:11.213,2021-03-24 16:25:28.393
2,C00003,Active,Customer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Non renseigné,NaN,FR,France,2021-02-02 15:35:11.457,2021-02-18 09:58:03.387
3,C00004,Active,Customer,Partner,01SIEGE,Headquarters,"BUSINESS ADMINISTRATION - Consulting, Audit, A...",NaN,12.0,NaN,75008,PARIS,NaN,FR,France,2021-02-02 15:35:11.770,2023-08-03 11:08:03.953
4,C00005,Active,Customer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Non renseigné,NaN,FR,France,2021-02-02 15:35:12.013,2021-02-18 09:58:03.620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3478,C19916,Prospect,Business Account,Partner,01SIEGE,Headquarters,"MEDIA - ARTS - SPORTS - Sports, Infrastructure...",NaN,7.0,NaN,75019,Paris,NaN,FR,France,2023-07-03 17:18:35.647,2023-07-03 17:18:35.647
3479,C19917,Active,Customer,Prospect,01SIEGE,Headquarters,"HEALTH - SOCIAL - Social, Associations, Founda...",NaN,24.0,NaN,69800,Saint Priest,NaN,FR,France,2023-07-04 09:04:13.730,2023-07-24 15:25:42.843
3480,C19918,Prospect,Business Account,Prospect,01SIEGE,Headquarters,"COMMUNICATION - Marketing, Advertising, Commun...",NaN,NaN,NaN,NaN,Montréal - Paris - Toronto,NaN,FR,France,2023-07-04 10:29:57.430,2023-07-04 10:29:57.430
3481,C19986,Prospect,Business Account,Institutional partner,21ETAT,State,SECTEUR PUBLIC - Etat & ses établissements pub...,NaN,17.0,NaN,93008,Bobigny,NaN,FR,France,2023-07-05 15:37:58.080,2023-07-05 15:37:58.080
3482,C19987,Prospect,Business Account,Partner,01SIEGE,Headquarters,"MEDIA - ARTS - SPORTS - Audiovisual, Media, Pu...",NaN,7.0,NaN,75002,PARIS,NaN,FR,France,2023-07-06 12:13:13.703,2023-07-06 12:13:13.703

In [6]:
df = df.dropna(subset=['City'])
df = df[df['City'] != 'Non renseigné']
df = df[df['Partner type'] == 'Partner']
df['Last Modified On'] = pd.to_datetime(df['Last Modified On'])

# Select rows with "Last Modified On" after January 1, 2021
df= df[df['Last Modified On'] > '2021-01-01']
df

,Business Account,Customer Status,Type,Partner type,Class,Class Name,Activity sector,Parent Business Account,Owner Name,Follow-up with,Postal Code,City,State,Country ID,Country Name,Created On,Last Modified On
0,C00001,Active,Customer,Partner,02FONDA,Foundation,"HEALTH - SOCIAL - Social, Associations, Founda...",NaN,2.0,NaN,69009,LYON,NaN,FR,France,2021-02-02 15:35:10.183,2023-01-04 15:51:00.977
3,C00004,Active,Customer,Partner,01SIEGE,Headquarters,"BUSINESS ADMINISTRATION - Consulting, Audit, A...",NaN,12.0,NaN,75008,PARIS,NaN,FR,France,2021-02-02 15:35:11.770,2023-08-03 11:08:03.953
10,C00011,Active,Customer,Partner,01SIEGE,Headquarters,HOTEL - CATERING - TOURISM,NaN,37.0,6.0,92445,ISSY-LES-MOULINEAUX,NaN,FR,France,2021-02-02 15:35:15.180,2023-09-27 15:06:45.433
11,C00012,Active,Customer,Partner,04AGENCE,Agency,HOTEL - CATERING - TOURISM,NaN,15.0,NaN,69002,LYON,NaN,FR,France,2021-02-02 15:35:16.200,2023-07-26 10:49:37.050
12,C00013,Active,Customer,Partner,04AGENCE,Agency,"LAW - ECONOMICS - MANAGEMENT - Accounting, Man...",NaN,29.0,NaN,75008,PARIS,NaN,FR,France,2021-02-02 15:35:16.487,2023-07-18 10:45:40.247
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3474,C19738,Prospect,Business Account,Partner,11US,US - United States,INDUSTRIES - Food industry,NaN,26.0,NaN,NY 10010,NEW-YORK,NaN,US,États-Unis,2023-06-30 10:54:26.297,2023-06-30 10:54:26.297
3476,C19744,Prospect,Business Account,Partner,01SIEGE,Headquarters,PUBLIC SECTOR - Political & Administrative Ser...,NaN,7.0,NaN,75017,Paris,NaN,FR,France,2023-07-03 12:18:51.170,2023-07-03 12:19:14.100
3477,C19853,Prospect,Business Account,Partner,01SIEGE,Headquarters,"COMMUNICATION - Marketing, Advertising, Commun...",NaN,7.0,NaN,92400,Courbevoie,NaN,FR,France,2023-07-03 15:05:13.520,2023-07-03 15:05:13.520
3478,C19916,Prospect,Business Account,Partner,01SIEGE,Headquarters,"MEDIA - ARTS - SPORTS - Sports, Infrastructure...",NaN,7.0,NaN,75019,Paris,NaN,FR,France,2023-07-03 17:18:35.647,2023-07-03 17:18:35.647
3482,C19987,Prospect,Business Account,Partner,01SIEGE,Headquarters,"MEDIA - ARTS - SPORTS - Audiovisual, Media, Pu...",NaN,7.0,NaN,75002,PARIS,NaN,FR,France,2023-07-06 12:13:13.703,2023-07-06 12:13:13.703

In [7]:
# Function to clean and standardize city names
def clean_city_name(city):
    # Check if the value is a string
    if isinstance(city, str):
        # Remove leading/trailing whitespace and convert to title case
        cleaned_city = city.strip().title()
        # Additional cleaning can be added if needed
    else:
        # If the value is not a string, leave it as is
        cleaned_city = city

    return cleaned_city

In [8]:
df["City"] = df["City"].str.capitalize()
df

,Business Account,Customer Status,Type,Partner type,Class,Class Name,Activity sector,Parent Business Account,Owner Name,Follow-up with,Postal Code,City,State,Country ID,Country Name,Created On,Last Modified On
0,C00001,Active,Customer,Partner,02FONDA,Foundation,"HEALTH - SOCIAL - Social, Associations, Founda...",NaN,2.0,NaN,69009,Lyon,NaN,FR,France,2021-02-02 15:35:10.183,2023-01-04 15:51:00.977
3,C00004,Active,Customer,Partner,01SIEGE,Headquarters,"BUSINESS ADMINISTRATION - Consulting, Audit, A...",NaN,12.0,NaN,75008,Paris,NaN,FR,France,2021-02-02 15:35:11.770,2023-08-03 11:08:03.953
10,C00011,Active,Customer,Partner,01SIEGE,Headquarters,HOTEL - CATERING - TOURISM,NaN,37.0,6.0,92445,Issy-les-moulineaux,NaN,FR,France,2021-02-02 15:35:15.180,2023-09-27 15:06:45.433
11,C00012,Active,Customer,Partner,04AGENCE,Agency,HOTEL - CATERING - TOURISM,NaN,15.0,NaN,69002,Lyon,NaN,FR,France,2021-02-02 15:35:16.200,2023-07-26 10:49:37.050
12,C00013,Active,Customer,Partner,04AGENCE,Agency,"LAW - ECONOMICS - MANAGEMENT - Accounting, Man...",NaN,29.0,NaN,75008,Paris,NaN,FR,France,2021-02-02 15:35:16.487,2023-07-18 10:45:40.247
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3474,C19738,Prospect,Business Account,Partner,11US,US - United States,INDUSTRIES - Food industry,NaN,26.0,NaN,NY 10010,New-york,NaN,US,États-Unis,2023-06-30 10:54:26.297,2023-06-30 10:54:26.297
3476,C19744,Prospect,Business Account,Partner,01SIEGE,Headquarters,PUBLIC SECTOR - Political & Administrative Ser...,NaN,7.0,NaN,75017,Paris,NaN,FR,France,2023-07-03 12:18:51.170,2023-07-03 12:19:14.100
3477,C19853,Prospect,Business Account,Partner,01SIEGE,Headquarters,"COMMUNICATION - Marketing, Advertising, Commun...",NaN,7.0,NaN,92400,Courbevoie,NaN,FR,France,2023-07-03 15:05:13.520,2023-07-03 15:05:13.520
3478,C19916,Prospect,Business Account,Partner,01SIEGE,Headquarters,"MEDIA - ARTS - SPORTS - Sports, Infrastructure...",NaN,7.0,NaN,75019,Paris,NaN,FR,France,2023-07-03 17:18:35.647,2023-07-03 17:18:35.647
3482,C19987,Prospect,Business Account,Partner,01SIEGE,Headquarters,"MEDIA - ARTS - SPORTS - Audiovisual, Media, Pu...",NaN,7.0,NaN,75002,Paris,NaN,FR,France,2023-07-06 12:13:13.703,2023-07-06 12:13:13.703

In [6]:
numberdifferent_cities = df["City"].nunique()
numberdifferent_cities

303

In [7]:
df["City"].value_counts()

Paris                          183
Lyon                           150
New york                        27
Adresse non communiquee         20
Marseille                       17
                              ...
Charbonnieres cedex              1
Camphin-en-pevele                1
Tassin la demi-lune              1
Voisins-le-bretonneux cedex      1
New-york                         1
Name: City, Length: 303, dtype: int64

In [8]:
client_cities = df["City"].unique()
client_cities

array(['Lyon', 'Paris', 'Issy-les-moulineaux', 'Villeurbanne',
       'Roissy en france', 'Saint-ouen cedex', 'Paris cedex 08',
       'Rillieux la pape', 'Grenoble', 'Croix',
       'Belleville-en-beaujolais', 'Nanterre', 'Lyon cedex 3',
       'Le pont de claix', 'Boulogne billancourt', 'Suresnes', 'Genas',
       'New york', 'Clichy cedex france', 'Marcy l etoile', 'Blendecques',
       'Guyancourt', 'Paris cedex 13', 'Maisons-alfort cedex', 'Rungis',
       'Puteaux', 'Breal-sous-montfort', 'Courbevoie cedex',
       'Lyon cedex 07', 'Issy les moulineaux', "Villeuneuve d'ascq",
       'Marcq en baroeul', 'Montrouge cedex', 'Lille', 'Rueil malmaison',
       'Little ferry', 'Montreuil-sous-bois', 'Bron', "Villeneuve d'ascq",
       'Crest', 'Créteil cedex', 'Limonest', 'Saint-denis', 'Marseille',
       'Zurich', "L'horme", 'Ivry-sur-seine', 'Roubaix', 'Echirolles',
       'Neuilly sur seine', 'Anneyron', 'Boulogne-billancourt',
       'Carpentras', 'Asnieres sur seine cedex', 'Charvieu chavagneux',
       'Elancourt', 'Pierre-benite', 'Venissieux', 'Neuilly',
       'Chef-du-pont', 'Saint jean de moirans', 'Pierre benite',
       'St genis les ollieres', "Champagne au mont d'or", 'Lyon cedex 02',
       'Saint etienne', 'Saint priest cedex', 'Beynost cedex',
       'Marcq en baroeul cedex', 'Lyon cedex 09', 'London', 'Neyron',
       'Rieux cedex', 'Nanterre cedex', 'Gonesse', 'Rilleux-la-pape',
       'Décines-charpieu', 'Colombes', 'Saint-vulbas', 'Chassieu',
       'Saint ouen cedex', 'Sainte julie', 'Lambersart', 'Aubervilliers',
       'Paris cedex 12', 'Vaulx-milieu', 'La madeleine cedex',
       'Montrond les bains', 'Lyon cedex 03', 'Levallois perret',
       'Le chambon feugerolles', 'Ecully', 'Chanas', 'Douai',
       'Tassin la demi lune', 'Saint mande', 'Andrezieux', 'La ricamarie',
       'Caluire-et-cuire', 'Lyon cedex 06', 'Champagne au mont d or',
       'Lentilly', 'Wasquehal', 'Saint etienne cedex 1', 'Solaize',
       'Onnaing', 'Nyon', 'Bordeaux', 'Vaulx-en-velin',
       'Chatenay malabry', 'Marcq-en-baroeul', "L' isle d'abeau",
       'Neuilly cedex', 'Leatherhead', 'Evry courcouronnes', 'Chicago',
       'Sainte foy les lyon', 'Viviers du lac', 'Gentilly', 'Versailles',
       'Leers', 'Balma', 'Boston', 'Anthis-mons', 'Bois colombes cedex',
       'Chatillon', 'Noisy le grand', "Champagne au mont-d'or",
       'Grenoble cedex 09', 'Aix en provence', 'Lille cedex',
       "Villeneuve d'ascq cedex", 'Tourcoing', 'Montluel', 'Chessy',
       'Peaugres', 'Winnetka', 'Clichy', 'Caluire et cuire',
       'Marquette-lez-lille', 'Oullins', 'Villeurbanne cedex',
       'Bensenville', 'Tarare', 'Sassenage', 'Montelimar',
       'Charbonnieres cedex', 'Camphin-en-pevele', 'Tassin la demi-lune',
       'Voisins-le-bretonneux cedex', 'Sainghin-en-melantois', 'Pantin',
       'Boulogne', "Marcy l'etoile", 'Bridgewater', 'Chasse sur rhone',
       'Lys les lannoy cedex', 'La madeleine', 'Wilmette', 'Harriman',
       'Saint denis', 'Rillieux-la-pape', 'Saint-chamond',
       "L'isle d'abeau", 'Roubaix cedex', 'Eguilles', 'Courbevoie',
       'Frome', "St germain au mont d'or", 'Dardilly', 'Montélimar',
       'Taluyers', 'Savigny', "Collonges au mont d'or", 'Francheville',
       'Alancon', 'Chevilly larue', 'Corbeil-essonnes', 'Paris cedex 19',
       'Ollioules', 'Beaune', 'Annecy', 'Aubiere', 'Bourg en bresse',
       'St just st rambert', 'Villefranche-sur-saône', 'Montpellier',
       'Londres', 'Caen - cedex 9', 'Veauche', 'Saint-etienne', 'Drancy',
       'Malakoff', 'Arcueil cedex', 'Jouy-en-josas',
       'Paris la défense cédex', 'Arnas', 'Vélizy-villacoublay',
       'Montbonnot saint martin', 'Chambery cedex', 'Rosny sous bois',
       'Saint genis laval', 'Saint chamond', 'Montverdun', 'Crolles',
       'La tour en jarez', 'Blanquefort', 'Montreuil', 'Gardanne',
       'Saint ouen sur seine', 'Bourg la reine', 'Lys lez lannoy',
       'Les deux alpes', 'Thoissey', 'Blagnac', 'Saint priest',
       'St priest', 'Saint ouen', 'Annecy cedex', 'Massy', 'Bezons',
       'Chambery', 'Chamonix', 'Adresse non communiquee', 'La tronche',
       'Adresse non communiuqee', '74370', 'Pont-eveque', 'Manosque',
       'Bondoufle', 'Auriol', 'Cambridge', 'Riceboro', 'Athis-mons',
       'Paris la défense cedex', 'Lieusaint cedex', 'Roubaix cedex 1',
       'Rueil-malmaison', 'Hamilton hm cx', 'Meylan',
       'Asnières sur seine', 'Evry cedex', 'Saint uze', 'Anzin',
       'Valence cedex 9', 'Trappes', 'Montrouge', 'Saint-priest',
       'Henin-beaumont', 'Chably', 'Marly', 'Adresse non commmuniquee',
       'Les mureaux', 'Epinam', 'Le vesinet', 'Genas cedex',
       "Champagne-au-mont-d'or", 'La tour-de-salvagny', 'Limoges',
       'Mons en baroeul', 'Laxou', 'Luxembourg', 'Bievres',
       'Fontenay sous bois', 'Meyzieu', 'Mouvaux', 'Vulaines sur seine',
       'Adresse non communiquée', 'Neuilly-sur-seine',
       'Marseille cedex 02', 'Decines charpieu', 'Mérignac cedex france',
       'London ec2n 4ay', 'Voiron', 'Colombe',
       "Saint-didier-au-mont-d'or", 'Le cheylard', 'Bernin', 'Trevignin',
       'Corenc', 'Vaujours', 'Bobigny', 'Bondoufle cedex',
       'Villefranche sur saone', 'Cornella de llobrega', 'Niort', 'Lomme',
       'Faches-thumesnil', 'Rueil malmaison cedex', 'Andrézieux-bouthéon',
       "Saint didier au mont d'or", 'Flers en escrebieux', 'Saint paul',
       'Meyzieu zi', 'Vitrolles', 'Sainghin en melantois', 'Suresne',
       'Atlanta', 'Bruxelles', 'Monaco', 'Zug', 'Torino', 'New-york'],
      dtype=object)

In [9]:
df["Customer Status"].unique()

array(['Active', 'Inactive', 'Prospect'], dtype=object)

 # Map of partners

In [ ]:
#This code is really Long to run but works!

import folium
from geopy.geocoders import Nominatim

# Initialize the map centered on Europe
europe_map = folium.Map(location=[50, 10], zoom_start=4)

# Geocode the client cities to get their coordinates
geolocator = Nominatim(user_agent="client_locator")
client_locations = []

for city in client_cities:
    location = geolocator.geocode(city)
    if location:
        client_locations.append(location)

# Add markers for each client location
for location in client_locations:
    folium.Marker(
        location=[location.latitude, location.longitude],
        popup=location.address
    ).add_to(europe_map)

# Save the map to an HTML file
europe_map.save("client_locations_map.html")

 # Map of partners (Active, Inactive and Prospect)

In [9]:
#This code is really Long to run but works!

import folium
from geopy.geocoders import Nominatim
import pandas as pd


# Initialize the map centered on Europe
europe_map = folium.Map(location=[50, 10], zoom_start=4)

# Define colors for different Customer Status
colors = {
    "Active": "green",
    "Inactive": "red",
    "Prospect": "blue"
}

# Geocode the client cities to get their coordinates
geolocator = Nominatim(user_agent="client_locator")
client_locations = []

for _, row in df.iterrows():
    city = row["City"]
    status = row["Customer Status"]
    location = geolocator.geocode(city)
    if location:
        client_locations.append((location, status))

# Add markers for each client location with different colors based on Customer Status
for location, status in client_locations:
    folium.Marker(
        location=[location.latitude, location.longitude],
        popup=location.address,
        icon=folium.Icon(color=colors.get(status, "gray"))
    ).add_to(europe_map)

# Save the map to an HTML file
europe_map.save("client_locations_map.html")

KeyboardInterrupt:

In [23]:
df = pd.read_csv('Best_city.csv')

df[100]

                     Unnamed: 0  New City
0                         PARIS       657
1                          LYON       470
2                 NON RENSEIGNÉ       374
3                     MARSEILLE        92
4                      NEW YORK        54
..                          ...       ...
727                      BEAUNE         1
728                      VIENNE         1
729              PARIS CEDEX 19         1
730          BRIVE LA GAILLARDE         1
731  MONTRÉAL - PARIS - TORONTO         1

[732 rows x 2 columns]

In [2]:
import pandas as pd
# Sample DataFrame
data = pd.DataFrame({
    "ID": [1, 2, 1, 3, 2, 1, 2, 3, 3]
})

# Create a new column "Count" that contains the count of each unique ID
data['Count'] = data.groupby('ID')['ID'].transform('count')

print(data)

   ID  Count
0   1      3
1   2      3
2   1      3
3   3      3
4   2      3
5   1      3
6   2      3
7   3      3
8   3      3