In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
Businessaccount = pd.read_excel('Business Account.xlsx')
Businessaccount.head()

,Business Account,Customer Status,Type,Partner type,Class,Class Name,Activity sector,Parent Business Account,Owner Name,Follow-up with,Postal Code,City,State,Country ID,Country Name,Created On,Last Modified On
0,C00001,Active,Customer,Partner,02FONDA,Foundation,"HEALTH - SOCIAL - Social, Associations, Founda...",NaN,2.0,NaN,69009,LYON,NaN,FR,France,2021-02-02 15:35:10.183,2023-01-04 15:51:00.977
1,C00002,Active,Customer,NaN,NaN,NaN,NaN,NaN,13.0,NaN,69005,Lyon,NaN,FR,France,2021-02-02 15:35:11.213,2021-03-24 16:25:28.393
2,C00003,Active,Customer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Non renseigné,NaN,FR,France,2021-02-02 15:35:11.457,2021-02-18 09:58:03.387
3,C00004,Active,Customer,Partner,01SIEGE,Headquarters,"BUSINESS ADMINISTRATION - Consulting, Audit, A...",NaN,12.0,NaN,75008,PARIS,NaN,FR,France,2021-02-02 15:35:11.770,2023-08-03 11:08:03.953
4,C00005,Active,Customer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Non renseigné,NaN,FR,France,2021-02-02 15:35:12.013,2021-02-18 09:58:03.620

In [5]:
Businessaccount.columns

Index(['Business Account', 'Customer Status', 'Type', 'Partner type', 'Class',
       'Class Name', 'Activity sector', 'Parent Business Account',
       'Owner Name', 'Follow-up with', 'Postal Code', 'City', 'State',
       'Country ID', 'Country Name', 'Created On', 'Last Modified On'],
      dtype='object')

In [7]:
Businessaccount.columns = ['Business Account', 'Customer', 'Type', 'Partner type', 'Class',
       'Class Name', 'Activity sector', 'Parent Business Account',
       'Owner Name', 'Follow-up with', 'Postal Code', 'City', 'State',
       'Country ID', 'Country Name', 'Created On', 'Last Modified On']

In [8]:
invoice = pd.read_excel('Invoice and Opportunities.xlsx')

In [9]:
result = pd.merge(Businessaccount, invoice, on='Customer', how='inner')

In [10]:
merged_df = pd.merge(invoice, Businessaccount, left_on='Customer', right_on='Business Account', how='inner')
merged_df.head(50)

,Type_x,Reference Nbr.,Customer_x,Amount,Date,Opportunity ID,Business Account,Customer_y,Type_y,Partner type,...,Parent Business Account,Owner Name,Follow-up with,Postal Code,City,State,Country ID,Country Name,Created On,Last Modified On
0,Invoice,FC0004608,C06507,5000.00,2023-10-10,4504,C06507,Active,Customer,Partner,...,NaN,12.0,10.0,75008,PARIS,NaN,FR,France,2021-12-13 15:05:55.587,2023-10-11 14:09:08.667
1,Invoice,FC0001968,C06507,15000.00,2022-03-28,3648,C06507,Active,Customer,Partner,...,NaN,12.0,10.0,75008,PARIS,NaN,FR,France,2021-12-13 15:05:55.587,2023-10-11 14:09:08.667
2,Invoice,FC0001368,C06507,10000.00,2021-12-10,2976,C06507,Active,Customer,Partner,...,NaN,12.0,10.0,75008,PARIS,NaN,FR,France,2021-12-13 15:05:55.587,2023-10-11 14:09:08.667
3,Invoice,FC0004607,C01388,241253.00,2023-10-09,1863,C01388,Active,Customer,Institutional partner,...,NaN,10.0,NaN,75007,PARIS,NaN,FR,France,2021-03-19 06:03:50.490,2021-03-19 10:12:31.770
4,Invoice,FC0003632,C01388,148686.75,2023-02-21,3844,C01388,Active,Customer,Institutional partner,...,NaN,10.0,NaN,75007,PARIS,NaN,FR,France,2021-03-19 06:03:50.490,2021-03-19 10:12:31.770
5,Invoice,FC0002559,C01388,390128.04,2022-06-24,1877,C01388,Active,Customer,Institutional partner,...,NaN,10.0,NaN,75007,PARIS,NaN,FR,France,2021-03-19 06:03:50.490,2021-03-19 10:12:31.770
6,Invoice,FC0001908,C01388,643340.00,2022-03-21,1863,C01388,Active,Customer,Institutional partner,...,NaN,10.0,NaN,75007,PARIS,NaN,FR,France,2021-03-19 06:03:50.490,2021-03-19 10:12:31.770
7,Invoice,FC0001883,C01388,643340.00,2021-03-21,1863,C01388,Active,Customer,Institutional partner,...,NaN,10.0,NaN,75007,PARIS,NaN,FR,France,2021-03-19 06:03:50.490,2021-03-19 10:12:31.770
8,Invoice,FC0004605,C19104,83954.00,2023-10-06,5708,C19104,Active,Customer,NaN,...,NaN,24.0,NaN,69009,LYON,NaN,FR,France,2023-05-30 10:04:13.237,2023-08-23 11:22:58.647
9,Invoice,FC0004600,C10528,3000.00,2023-06-23,5617,C10528,Active,Customer,Major Partner,...,NaN,7.0,NaN,75013,PARIS,NaN,FR,France,2022-04-25 23:07:39.417,2023-07-18 17:21:32.580
10,Invoice,FC0002747,C10528,5000.00,2022-06-06,3743,C10528,Active,Customer,Major Partner,...,NaN,7.0,NaN,75013,PARIS,NaN,FR,France,2022-04-25 23:07:39.417,2023-07-18 17:21:32.580
11,Invoice,FC0004598,C01196,54531.00,2023-10-09,5829,C01196,Active,Customer,Institutional partner,...,NaN,6.0,NaN,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257
12,Invoice,FC0004361,C01196,40000.00,2023-08-09,4562,C01196,Active,Customer,Institutional partner,...,NaN,6.0,NaN,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257
13,Invoice,FC0004289,C01196,3500.00,2023-07-28,4966,C01196,Active,Customer,Institutional partner,...,NaN,6.0,NaN,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257
14,Invoice,FC0004126,C01196,5000.00,2023-06-23,4561,C01196,Active,Customer,Institutional partner,...,NaN,6.0,NaN,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257
15,Invoice,FC0004095,C01196,4000.00,2023-06-30,4559,C01196,Active,Customer,Institutional partner,...,NaN,6.0,NaN,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257
16,Invoice,FC0004094,C01196,4000.00,2023-06-28,4560,C01196,Active,Customer,Institutional partner,...,NaN,6.0,NaN,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257
17,Invoice,FC0004093,C01196,5000.00,2023-06-28,4558,C01196,Active,Customer,Institutional partner,...,NaN,6.0,NaN,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257
18,Invoice,FC0004092,C01196,5000.00,2023-06-28,4557,C01196,Active,Customer,Institutional partner,...,NaN,6.0,NaN,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257
19,Invoice,FC0003257,C01196,6658.96,2022-11-30,2506,C01196,Active,Customer,Institutional partner,...,NaN,6.0,NaN,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257
20,Invoice,FC0003031,C01196,700000.00,2022-11-18,2316,C01196,Active,Customer,Institutional partner,...,NaN,6.0,NaN,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257
21,Invoice,FC0002884,C01196,40000.00,2022-10-13,2504,C01196,Active,Customer,Institutional partner,...,NaN,6.0,NaN,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257
22,Invoice,FC0002847,C01196,5000.00,2022-10-03,2507,C01196,Active,Customer,Institutional partner,...,NaN,6.0,NaN,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257
23,Invoice,FC0002795,C01196,5000.00,2022-09-26,2508,C01196,Active,Customer,Institutional partner,...,NaN,6.0,NaN,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257
24,Invoice,FC0002679,C01196,5000.00,2022-07-28,2505,C01196,Active,Customer,Institutional partner,...,NaN,6.0,NaN,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257
25,Invoice,FC0002655,C01196,5000.00,2022-07-12,2509,C01196,Active,Customer,Institutional partner,...,NaN,6.0,NaN,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257
26,Invoice,FC0001365,C01196,300000.00,2021-12-13,2316,C01196,Active,Customer,Institutional partner,...,NaN,6.0,NaN,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257
27,Invoice,FC0001290,C01196,5695.00,2021-11-26,2021,C01196,Active,Customer,Institutional partner,...,NaN,6.0,NaN,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257
28,Invoice,FC0000761,C01196,40000.00,2021-07-20,1680,C01196,Active,Customer,Institutional partner,...,NaN,6.0,NaN,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257
29,Invoice,FC0000643,C01196,5000.00,2021-07-05,1654,C01196,Active,Customer,Institutional partner,...,NaN,6.0,NaN,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257
30,Invoice,FC0000629,C01196,5000.00,2021-06-30,1658,C01196,Active,Customer,Institutional partner,...,NaN,6.0,NaN,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257
31,Invoice,FC0000617,C01196,5000.00,2021-06-28,1812,C01196,Active,Customer,Institutional partner,...,NaN,6.0,NaN,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257
32,Invoice,FC0000616,C01196,5000.00,2021-06-28,1695,C01196,Active,Customer,Institutional partner,...,NaN,6.0,NaN,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257
33,Invoice,FC0000615,C01196,5000.00,2021-06-28,1660,C01196,Active,Customer,Institutional partner,...,NaN,6.0,NaN,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257
34,Invoice,FC0000614,C01196,5000.00,2021-06-28,1659,C01196,Active,Customer,Institutional partner,...,NaN,6.0,NaN,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257
35,Invoice,FC0004597,C00451,15000.00,2023-10-06,4295,C00451,Active,Customer,Partner,...,NaN,7.0,26.0,60872,RIEUX CEDEX,NaN,FR,France,2021-02-02 15:36:58.953,2023-09-26 12:23:43.933
36,Invoice,FC0004596,C00451,10000.00,2023-10-06,3906,C00451,Active,Customer,Partner,...,NaN,7.0,26.0,60872,RIEUX CEDEX,NaN,FR,France,2021-02-02 15:36:58.953,2023-09-26 12:23:43.933
37,Invoice,FC0002688,C00451,15000.00,2022-07-28,4295,C00451,Active,Customer,Partner,...,NaN,7.0,26.0,60872,RIEUX CEDEX,NaN,FR,France,2021-02-02 15:36:58.953,2023-09-26 12:23:43.933
38,Invoice,FC0002687,C00451,10000.00,2022-07-28,3906,C00451,Active,Customer,Partner,...,NaN,7.0,26.0,60872,RIEUX CEDEX,NaN,FR,France,2021-02-02 15:36:58.953,2023-09-26 12:23:43.933
39,Invoice,FC0004558,C10993,18992.00,2023-10-06,5779,C10993,Active,Customer,Prospect,...,NaN,7.0,NaN,72005,PARIS,NaN,FR,France,2022-05-17 17:53:35.610,2023-10-09 13:48:06.443
40,Invoice,FC0004557,C10993,23740.00,2023-10-06,5847,C10993,Active,Customer,Prospect,...,NaN,7.0,NaN,72005,PARIS,NaN,FR,France,2022-05-17 17:53:35.610,2023-10-09 13:48:06.443
41,Invoice,FC0004555,C01412,137334.77,2023-07-14,1638,C01412,Active,Customer,Institutional partner,...,NaN,10.0,NaN,93400,SAINT-OUEN-SUR-SEINE,NaN,FR,France,2021-03-19 06:03:57.933,2021-03-19 10:12:37.397
42,Invoice,FC0004321,C01412,150000.00,2023-08-29,5922,C01412,Active,Customer,Institutional partner,...,NaN,10.0,NaN,93400,SAINT-OUEN-SUR-SEINE,NaN,FR,France,2021-03-19 06:03:57.933,2021-03-19 10:12:37.397
43,Invoice,FC0004237,C01412,137334.77,2023-07-14,4543,C01412,Active,Customer,Institutional partner,...,NaN,10.0,NaN,93400,SAINT-OUEN-SUR-SEINE,NaN,FR,France,2021-03-19 06:03:57.933,2021-03-19 10:12:37.397
44,Invoice,FC0003012,C01412,150000.00,2022-11-21,2480,C01412,Active,Customer,Institutional partner,...,NaN,10.0,NaN,93400,SAINT-OUEN-SUR-SEINE,NaN,FR,France,2021-03-19 06:03:57.933,2021-03-19 10:12:37.397
45,Invoice,FC0001626,C01412,150000.00,2022-02-01,1637,C01412,Active,Customer,Institutional partner,...,NaN,10.0,NaN,93400,SAINT-OUEN-SUR-SEINE,NaN,FR,France,2021-03-19 06:03:57.933,2021-03-19 10:12:37.397
46,Invoice,FC0001121,C01412,144103.50,2021-10-15,1638,C01412,Active,Customer,Institutional partner,...,NaN,10.0,NaN,93400,SAINT-OUEN-SUR-SEINE,NaN,FR,France,2021-03-19 06:03:57.933,2021-03-19 10:12:37.397
47,Invoice,FC0001120,C01412,144103.50,2021-10-15,1637,C01412,Active,Customer,Institutional partner,...,NaN,10.0,NaN,93400,SAINT-OUEN-SUR-SEINE,NaN,FR,France,2021-03-19 06:03:57.933,2021-03-19 10:12:37.397
48,Invoice,FC0000136,C01412,8737.20,2021-04-26,1822,C01412,Active,Customer,Institutional partner,...,NaN,10.0,NaN,93400,SAINT-OUEN-SUR-SEINE,NaN,FR,France,2021-03-19 06:03:57.933,2021-03-19 10:12:37.397
49,Invoice,FC0004553,C13690,10000.00,2023-10-04,4627,C13690,Active,Customer,Partner,...,NaN,7.0,NaN,92130,ISSY-LES-MOULINEAUX,NaN,FR,France,2022-10-03 15:24:01.070,2023-10-06 13:51:35.737

In [11]:
merged_df['Year'] = merged_df['Date'].dt.year
merged_df['Month'] = merged_df['Date'].dt.month
merged_df['Quarter'] = merged_df['Date'].dt.quarter
merged_df.head(50)

,Type_x,Reference Nbr.,Customer_x,Amount,Date,Opportunity ID,Business Account,Customer_y,Type_y,Partner type,...,Postal Code,City,State,Country ID,Country Name,Created On,Last Modified On,Year,Month,Quarter
0,Invoice,FC0004608,C06507,5000.00,2023-10-10,4504,C06507,Active,Customer,Partner,...,75008,PARIS,NaN,FR,France,2021-12-13 15:05:55.587,2023-10-11 14:09:08.667,2023,10,4
1,Invoice,FC0001968,C06507,15000.00,2022-03-28,3648,C06507,Active,Customer,Partner,...,75008,PARIS,NaN,FR,France,2021-12-13 15:05:55.587,2023-10-11 14:09:08.667,2022,3,1
2,Invoice,FC0001368,C06507,10000.00,2021-12-10,2976,C06507,Active,Customer,Partner,...,75008,PARIS,NaN,FR,France,2021-12-13 15:05:55.587,2023-10-11 14:09:08.667,2021,12,4
3,Invoice,FC0004607,C01388,241253.00,2023-10-09,1863,C01388,Active,Customer,Institutional partner,...,75007,PARIS,NaN,FR,France,2021-03-19 06:03:50.490,2021-03-19 10:12:31.770,2023,10,4
4,Invoice,FC0003632,C01388,148686.75,2023-02-21,3844,C01388,Active,Customer,Institutional partner,...,75007,PARIS,NaN,FR,France,2021-03-19 06:03:50.490,2021-03-19 10:12:31.770,2023,2,1
5,Invoice,FC0002559,C01388,390128.04,2022-06-24,1877,C01388,Active,Customer,Institutional partner,...,75007,PARIS,NaN,FR,France,2021-03-19 06:03:50.490,2021-03-19 10:12:31.770,2022,6,2
6,Invoice,FC0001908,C01388,643340.00,2022-03-21,1863,C01388,Active,Customer,Institutional partner,...,75007,PARIS,NaN,FR,France,2021-03-19 06:03:50.490,2021-03-19 10:12:31.770,2022,3,1
7,Invoice,FC0001883,C01388,643340.00,2021-03-21,1863,C01388,Active,Customer,Institutional partner,...,75007,PARIS,NaN,FR,France,2021-03-19 06:03:50.490,2021-03-19 10:12:31.770,2021,3,1
8,Invoice,FC0004605,C19104,83954.00,2023-10-06,5708,C19104,Active,Customer,NaN,...,69009,LYON,NaN,FR,France,2023-05-30 10:04:13.237,2023-08-23 11:22:58.647,2023,10,4
9,Invoice,FC0004600,C10528,3000.00,2023-06-23,5617,C10528,Active,Customer,Major Partner,...,75013,PARIS,NaN,FR,France,2022-04-25 23:07:39.417,2023-07-18 17:21:32.580,2023,6,2
10,Invoice,FC0002747,C10528,5000.00,2022-06-06,3743,C10528,Active,Customer,Major Partner,...,75013,PARIS,NaN,FR,France,2022-04-25 23:07:39.417,2023-07-18 17:21:32.580,2022,6,2
11,Invoice,FC0004598,C01196,54531.00,2023-10-09,5829,C01196,Active,Customer,Institutional partner,...,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257,2023,10,4
12,Invoice,FC0004361,C01196,40000.00,2023-08-09,4562,C01196,Active,Customer,Institutional partner,...,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257,2023,8,3
13,Invoice,FC0004289,C01196,3500.00,2023-07-28,4966,C01196,Active,Customer,Institutional partner,...,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257,2023,7,3
14,Invoice,FC0004126,C01196,5000.00,2023-06-23,4561,C01196,Active,Customer,Institutional partner,...,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257,2023,6,2
15,Invoice,FC0004095,C01196,4000.00,2023-06-30,4559,C01196,Active,Customer,Institutional partner,...,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257,2023,6,2
16,Invoice,FC0004094,C01196,4000.00,2023-06-28,4560,C01196,Active,Customer,Institutional partner,...,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257,2023,6,2
17,Invoice,FC0004093,C01196,5000.00,2023-06-28,4558,C01196,Active,Customer,Institutional partner,...,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257,2023,6,2
18,Invoice,FC0004092,C01196,5000.00,2023-06-28,4557,C01196,Active,Customer,Institutional partner,...,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257,2023,6,2
19,Invoice,FC0003257,C01196,6658.96,2022-11-30,2506,C01196,Active,Customer,Institutional partner,...,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257,2022,11,4
20,Invoice,FC0003031,C01196,700000.00,2022-11-18,2316,C01196,Active,Customer,Institutional partner,...,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257,2022,11,4
21,Invoice,FC0002884,C01196,40000.00,2022-10-13,2504,C01196,Active,Customer,Institutional partner,...,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257,2022,10,4
22,Invoice,FC0002847,C01196,5000.00,2022-10-03,2507,C01196,Active,Customer,Institutional partner,...,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257,2022,10,4
23,Invoice,FC0002795,C01196,5000.00,2022-09-26,2508,C01196,Active,Customer,Institutional partner,...,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257,2022,9,3
24,Invoice,FC0002679,C01196,5000.00,2022-07-28,2505,C01196,Active,Customer,Institutional partner,...,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257,2022,7,3
25,Invoice,FC0002655,C01196,5000.00,2022-07-12,2509,C01196,Active,Customer,Institutional partner,...,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257,2022,7,3
26,Invoice,FC0001365,C01196,300000.00,2021-12-13,2316,C01196,Active,Customer,Institutional partner,...,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257,2021,12,4
27,Invoice,FC0001290,C01196,5695.00,2021-11-26,2021,C01196,Active,Customer,Institutional partner,...,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257,2021,11,4
28,Invoice,FC0000761,C01196,40000.00,2021-07-20,1680,C01196,Active,Customer,Institutional partner,...,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257,2021,7,3
29,Invoice,FC0000643,C01196,5000.00,2021-07-05,1654,C01196,Active,Customer,Institutional partner,...,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257,2021,7,3
30,Invoice,FC0000629,C01196,5000.00,2021-06-30,1658,C01196,Active,Customer,Institutional partner,...,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257,2021,6,2
31,Invoice,FC0000617,C01196,5000.00,2021-06-28,1812,C01196,Active,Customer,Institutional partner,...,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257,2021,6,2
32,Invoice,FC0000616,C01196,5000.00,2021-06-28,1695,C01196,Active,Customer,Institutional partner,...,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257,2021,6,2
33,Invoice,FC0000615,C01196,5000.00,2021-06-28,1660,C01196,Active,Customer,Institutional partner,...,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257,2021,6,2
34,Invoice,FC0000614,C01196,5000.00,2021-06-28,1659,C01196,Active,Customer,Institutional partner,...,69003,LYON,NaN,FR,France,2021-02-12 06:38:20.293,2023-09-27 15:08:43.257,2021,6,2
35,Invoice,FC0004597,C00451,15000.00,2023-10-06,4295,C00451,Active,Customer,Partner,...,60872,RIEUX CEDEX,NaN,FR,France,2021-02-02 15:36:58.953,2023-09-26 12:23:43.933,2023,10,4
36,Invoice,FC0004596,C00451,10000.00,2023-10-06,3906,C00451,Active,Customer,Partner,...,60872,RIEUX CEDEX,NaN,FR,France,2021-02-02 15:36:58.953,2023-09-26 12:23:43.933,2023,10,4
37,Invoice,FC0002688,C00451,15000.00,2022-07-28,4295,C00451,Active,Customer,Partner,...,60872,RIEUX CEDEX,NaN,FR,France,2021-02-02 15:36:58.953,2023-09-26 12:23:43.933,2022,7,3
38,Invoice,FC0002687,C00451,10000.00,2022-07-28,3906,C00451,Active,Customer,Partner,...,60872,RIEUX CEDEX,NaN,FR,France,2021-02-02 15:36:58.953,2023-09-26 12:23:43.933,2022,7,3
39,Invoice,FC0004558,C10993,18992.00,2023-10-06,5779,C10993,Active,Customer,Prospect,...,72005,PARIS,NaN,FR,France,2022-05-17 17:53:35.610,2023-10-09 13:48:06.443,2023,10,4
40,Invoice,FC0004557,C10993,23740.00,2023-10-06,5847,C10993,Active,Customer,Prospect,...,72005,PARIS,NaN,FR,France,2022-05-17 17:53:35.610,2023-10-09 13:48:06.443,2023,10,4
41,Invoice,FC0004555,C01412,137334.77,2023-07-14,1638,C01412,Active,Customer,Institutional partner,...,93400,SAINT-OUEN-SUR-SEINE,NaN,FR,France,2021-03-19 06:03:57.933,2021-03-19 10:12:37.397,2023,7,3
42,Invoice,FC0004321,C01412,150000.00,2023-08-29,5922,C01412,Active,Customer,Institutional partner,...,93400,SAINT-OUEN-SUR-SEINE,NaN,FR,France,2021-03-19 06:03:57.933,2021-03-19 10:12:37.397,2023,8,3
43,Invoice,FC0004237,C01412,137334.77,2023-07-14,4543,C01412,Active,Customer,Institutional partner,...,93400,SAINT-OUEN-SUR-SEINE,NaN,FR,France,2021-03-19 06:03:57.933,2021-03-19 10:12:37.397,2023,7,3
44,Invoice,FC0003012,C01412,150000.00,2022-11-21,2480,C01412,Active,Customer,Institutional partner,...,93400,SAINT-OUEN-SUR-SEINE,NaN,FR,France,2021-03-19 06:03:57.933,2021-03-19 10:12:37.397,2022,11,4
45,Invoice,FC0001626,C01412,150000.00,2022-02-01,1637,C01412,Active,Customer,Institutional partner,...,93400,SAINT-OUEN-SUR-SEINE,NaN,FR,France,2021-03-19 06:03:57.933,2021-03-19 10:12:37.397,2022,2,1
46,Invoice,FC0001121,C01412,144103.50,2021-10-15,1638,C01412,Active,Customer,Institutional partner,...,93400,SAINT-OUEN-SUR-SEINE,NaN,FR,France,2021-03-19 06:03:57.933,2021-03-19 10:12:37.397,2021,10,4
47,Invoice,FC0001120,C01412,144103.50,2021-10-15,1637,C01412,Active,Customer,Institutional partner,...,93400,SAINT-OUEN-SUR-SEINE,NaN,FR,France,2021-03-19 06:03:57.933,2021-03-19 10:12:37.397,2021,10,4
48,Invoice,FC0000136,C01412,8737.20,2021-04-26,1822,C01412,Active,Customer,Institutional partner,...,93400,SAINT-OUEN-SUR-SEINE,NaN,FR,France,2021-03-19 06:03:57.933,2021-03-19 10:12:37.397,2021,4,2
49,Invoice,FC0004553,C13690,10000.00,2023-10-04,4627,C13690,Active,Customer,Partner,...,92130,ISSY-LES-MOULINEAUX,NaN,FR,France,2022-10-03 15:24:01.070,2023-10-06 13:51:35.737,2023,10,4

In [24]:
Se = merged_df[['Customer_x', 'Amount', 'Year', 'Month'] ].value_counts()
Se.head()

Customer_x  Amount  Year  Month
C01196      5000.0  2021  6        5
C00022      240.0   2021  5        4
C00083      4500.0  2021  3        3
C01528      7107.0  2023  4        3
C10831      1325.0  2022  5        3
dtype: int64

In [26]:
df_se = Se.reset_index(name='Counts')
df_se.head(10)

  Customer_x   Amount  Year  Month  Counts
0     C01196   5000.0  2021      6       5
1     C00022    240.0  2021      5       4
2     C00083   4500.0  2021      3       3
3     C01528   7107.0  2023      4       3
4     C10831   1325.0  2022      5       3
5     C00366    340.2  2022     11       3
6     C00714   3000.0  2022      8       3
7     C01472  15000.0  2021      4       3
8     C00961  32500.0  2021      8       3
9     C01254   1672.0  2022      9       3

In [27]:
data_2022 = df_se[df_se['Year'] == 2022]
data_2022.head()

   Customer_x  Amount  Year  Month  Counts
4      C10831  1325.0  2022      5       3
5      C00366   340.2  2022     11       3
6      C00714  3000.0  2022      8       3
9      C01254  1672.0  2022      9       3
13     C01482  8000.0  2022      7       3

In [29]:
total_paid_2022 = data_2022.groupby('Customer_x')['Amount'].sum().reset_index()
total_paid_2022.columns = ['Customer_x', 'Total_Amount_2022']
total_paid_2022.head()

  Customer_x  Total_Amount_2022
0     C00001             4800.0
1     C00004            27000.0
2     C00013            20000.0
3     C00017             3000.0
4     C00023            15000.0

In [31]:
total_paid_2022_sorted = total_paid_2022.sort_values(by='Total_Amount_2022', ascending=False)
total_paid_2022_sorted.head()

    Customer_x  Total_Amount_2022
380     C01502         1654243.17
346     C01388         1033468.04
303     C01196          761658.96
83      C00296          620000.00
39      C00112          457619.00